$primary-color: #ff6060;
$secondary-color: #ffffff;
$tertiary-color: #f6f6f6;

body {
  font-family: Montserrat;
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  main {
    padding-left: 2%;
    padding-right: 2%;
  }

  li {
    list-style-type: none;
  }
}
