@import "../../style.scss";

.banner-about {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background-image: url("../../assets/bannerAboutImage.png");
}
