@import "../../style.scss";
.error-body {
  text-align: center;
  h1 {
    font-weight: 700;
    font-size: 258px;
    margin: 4%;
    margin-bottom: 2%;
  }
  .redirection {
    margin: 5%;
    a {
      color: $primary-color;
    }
  }
  @media screen and (max-width: 599px) {
    h1 {
      font-size: 92px;
      margin-top: 150px;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
      margin-bottom: 100px;
    }
    .redirection {
      font-size: 14px;
      margin-bottom: 200px;
    }
  }
}
