@import "../../style.scss";

.card-container {
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: $tertiary-color;
  padding: 50px;
  gap: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  margin-bottom: 5%;
  @media screen and (max-width: 599px) {
    background-color: white;
    width: 100%;
    gap: 15px;
    padding: 0%;
  }
}
