@import "../../style.scss";

.gallery {
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: $tertiary-color;
  padding: 50px;
  gap: 50px;
  width: 95%;
  margin: 0 auto;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  @media screen and (max-width: 599px) {
    width: 97%;
    gap: 15px;
    padding: 1%;
  }
}
