@import "../../style.scss";

.presentation {
  color: $primary-color;
  display: flex;
  justify-content: space-between;
  h2 {
    font-size: 36px;
    margin-bottom: 0px;
  }
  p {
    font-size: 18px;
    margin-top: 0px;
  }
  @media screen and (max-width: 599px) {
    display: block;
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }
}

.host-star {
  margin-top: 24px;

  @media screen and (max-width: 599px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 0px;
  }
}
.host {
  display: flex;
  align-items: center;
  margin-left: 20%;
  .host-name {
    font-size: 18px;
    margin: 0px;
    padding-left: 20%;
  }
  .host-img {
    height: 64px;
    width: 64px;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    -ms-border-radius: 75px;
    -o-border-radius: 75px;
  }
  @media screen and (max-width: 599px) {
    .host-name {
      font-size: 12px;
    }
    .host-img {
      width: 32px;
      height: 32px;
    }
  }
}

.collapse-container-fiche-logement {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 599px) {
    margin-bottom: 15%;
    display: block;
  }
}
