@import "../../style.scss";

body {
  color: $primary-color;
  .presentation {
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 36px;
    }
    @media screen and (max-width: 599px) {
      display: block;
      h2 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
.host-star {
  display: flex;
  justify-content: space-between;
}
.host {
  display: flex;
  align-items: center;
  width: 200px;
  .host-name {
    padding-left: 10%;
    font-size: 18px;
  }
  .host-img {
    height: 64px;
    width: 64px;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    -ms-border-radius: 75px;
    -o-border-radius: 75px;
    padding: 10px;
  }
  @media screen and (max-width: 599px) {
    .host-name {
      font-size: 12px;
    }
    .host-img {
      width: 32px;
      height: 32px;
    }
  }
}
.tag-rates {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 599px) {
    display: block;
  }
}
.collapse-container-fiche-logement {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 599px) {
    display: block;
  }
}
