header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 3%;
  @media (max-width: 599px) {
    padding-left: 2%;
    .header-logo {
      width: 30%;
    }
  }
}
