@import "../../style.scss";
.tags {
  display: flex;
  padding-left: 0%;
  @media screen and (max-width: 599px) {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    color: $tertiary-color;
    background-color: $primary-color;
    margin-right: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    @media screen and (max-width: 599px) {
      margin-top: 10px;
    }
  }
}
