@import "../../style.scss";

.stars {
  padding-top: 20px;
  padding-left: 25px;
  @media screen and (max-width: 599px) {
    padding-left: 0px;
    padding: 0px;
  }

  .red-star {
    padding-left: 10px;
    width: 25px;
    @media screen and (max-width: 599px) {
      width: 13px;
    }
  }
  .empty-star {
    padding-left: 10px;
    width: 25px;
    @media screen and (max-width: 599px) {
      width: 13px;
    }
  }
}
