@import "../../style.scss";

.collapse {
  margin: 1%;
  width: 70%;

  p {
    padding-left: 10px;
    font-size: 24px;
    font-weight: 400;
  }
  button {
    padding-right: 15px;
  }
  .collapse-content {
    background-color: $tertiary-color;
    margin: 0%;
    padding: 15px;
  }

  .collapse-top {
    font-size: 18px;
    border-radius: 10px;
    background-color: $primary-color;
    color: $secondary-color;
    display: flex;
    justify-content: space-between;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .collapse-title {
    font-size: 34px;
    margin: 5px;
  }
}
