@import "../../style.scss";

.collapse {
  width: 46%;
  margin-bottom: 1%;
  @media screen and (max-width: 599px) {
    width: 100%;
    margin-bottom: 4%;
  }

  p {
    margin: 3px;
    padding-left: 10px;
    font-size: 24px;
    font-weight: 400;
    @media screen and (max-width: 599px) {
      padding-left: 5px;
    }
  }
  .collapse-button {
    padding-right: 15px;
    @media screen and (max-width: 599px) {
      padding-right: 0px;
    }
    .collapse-button-img {
      @media screen and (max-width: 599px) {
        padding-right: 5px;

        width: 50%;
      }
    }
  }
  .collapse-content {
    font-size: 18px;
    background-color: $tertiary-color;
    margin: 0%;
    padding: 15px;
    padding-top: 3%;
    padding-bottom: 3%;
    @media screen and (max-width: 599px) {
      font-size: 12px;
    }
  }

  .collapse-top {
    font-size: 18px;
    border-radius: 10px;
    background-color: $primary-color;
    color: $tertiary-color;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .collapse-title {
    font-size: 34px;
    margin: 5px;
    @media screen and (max-width: 599px) {
      font-size: 13px;
    }
  }
}
