@import "../../style.scss";

.navigation {
  display: flex;
  padding: 0px;

  li {
    list-style-type: none;
  }
  a {
    color: $primary-color;
    text-decoration: none;
    font-size: 24px;
    margin-left: 30px;
  }
}
.nav-active {
  border-bottom: 2px solid $primary-color;
}
@media (max-width: 599px) {
  li {
    font-size: 12px;
  }
}
